/* line 2, ../../sass/site/partials/_header.scss */
.site-nav {
  background-color: #F8F8F8;
  height: 50px;
  overflow: hidden;
}
/* line 6, ../../sass/site/partials/_header.scss */
.site-nav button {
  height: 100%;
  border: 0;
  float: left;
  padding: 0 20px;
}
/* line 11, ../../sass/site/partials/_header.scss */
.site-nav button span {
  font-size: 2rem;
  color: white;
}
/* line 16, ../../sass/site/partials/_header.scss */
.site-nav button:hover span {
  color: orange;
}
/* line 19, ../../sass/site/partials/_header.scss */
.site-nav .logo {
  float: left;
  height: 100%;
  width: 85px;
  padding: 5px;
  overflow: hidden;
}
/* line 26, ../../sass/site/partials/_header.scss */
.site-nav .logo img {
  height: 100%;
}
/* line 31, ../../sass/site/partials/_header.scss */
.site-nav .site-name {
  width: 160px;
  float: left;
  overflow: hidden;
  height: 100%;
  position: relative;
  border-right: 1px solid #fff;
}
/* line 38, ../../sass/site/partials/_header.scss */
.site-nav .site-name span {
  position: absolute;
  height: 25%;
  display: block;
  color: #2183CD;
  font-size: 1.3rem;
  font-weight: 600;
}
/* line 46, ../../sass/site/partials/_header.scss */
.site-nav .site-name span:nth-child(1) {
  top: 5%;
  left: 0;
}
/* line 50, ../../sass/site/partials/_header.scss */
.site-nav .site-name span:nth-child(2) {
  top: 28%;
  left: 20%;
}
/* line 54, ../../sass/site/partials/_header.scss */
.site-nav .site-name span:nth-child(3) {
  top: 50%;
  left: 40%;
}
/* line 58, ../../sass/site/partials/_header.scss */
.site-nav .site-name span:nth-child(4) {
  right: 5px;
  bottom: 5px;
}
/* line 64, ../../sass/site/partials/_header.scss */
.site-nav .tagline {
  float: left;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  color: #34495E;
  font-weight: 500;
  font-size: 1.6rem;
  border-left: 1px solid #ededed;
}
/* line 74, ../../sass/site/partials/_header.scss */
.site-nav ul {
  list-style: none;
  padding: 0;
  float: right;
  border-left: 1px solid white;
}
/* line 79, ../../sass/site/partials/_header.scss */
.site-nav ul li {
  float: left;
}
/* line 81, ../../sass/site/partials/_header.scss */
.site-nav ul li a {
  display: block;
  height: 50px;
  line-height: 50px;
  color: #34495E;
  font-weight: bold;
  padding: 0% 10px;
  border-right: 1px solid white;
  border-left: 1px solid #ededed;
}

/* line 96, ../../sass/site/partials/_header.scss */
#show-menu-btn {
  background-color: #414141;
}

@media only screen and (max-width: 900px) {
  /* line 102, ../../sass/site/partials/_header.scss */
  .tagline {
    display: none;
  }
}
/* line 1, ../../sass/site/partials/_menu.scss */
.menu {
  width: 310px;
  height: 100%;
  background-color: #414141;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  display: none;
}
/* line 10, ../../sass/site/partials/_menu.scss */
.menu .sign-in {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}
/* line 14, ../../sass/site/partials/_menu.scss */
.menu .sign-in div {
  margin: 5px auto;
}
/* line 18, ../../sass/site/partials/_menu.scss */
.menu img {
  margin: 15px auto;
}
/* line 21, ../../sass/site/partials/_menu.scss */
.menu ul {
  list-style: none;
  width: 90%;
  padding: 0;
  margin: 0px auto;
}
/* line 26, ../../sass/site/partials/_menu.scss */
.menu ul li {
  padding: 2.5% 0;
  border-radius: 3px;
  border: 1px solid white;
  padding-left: 10px;
  margin: 5px;
}
/* line 34, ../../sass/site/partials/_menu.scss */
.menu ul a {
  color: white;
  font-size: 1.8rem;
}
/* line 38, ../../sass/site/partials/_menu.scss */
.menu ul a:hover {
  color: #957736;
}
/* line 42, ../../sass/site/partials/_menu.scss */
.menu #hide-menu-btn {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  background-color: transparent;
}
/* line 49, ../../sass/site/partials/_menu.scss */
.menu #hide-menu-btn span {
  color: white;
  font-size: 2.8rem;
}

@media only screen and (max-width: 900px) {
  /* line 57, ../../sass/site/partials/_menu.scss */
  .tagline {
    display: none;
  }
}
/* line 7, ../../sass/site/site.scss */
html, body {
  height: 100%;
}

/* line 11, ../../sass/site/site.scss */
html {
  font-size: 62.5%;
}

/* line 13, ../../sass/site/site.scss */
body {
  font-size: 1.4rem;
}

/* line 17, ../../sass/site/site.scss */
a {
  color: black;
}

/* line 21, ../../sass/site/site.scss */
a:hover, a:visited {
  text-decoration: none;
  color: black;
}

/* line 26, ../../sass/site/site.scss */
.content {
  margin-top: 10px;
}

/* line 30, ../../sass/site/site.scss */
.block-title {
  font-size: 1.8rem;
  line-height: 1;
  padding: 7px 0;
}

/* line 36, ../../sass/site/site.scss */
hr {
  padding: 0;
  margin: 5px 0;
}

@media only screen and (max-width: 430px) {
  /* line 42, ../../sass/site/site.scss */
  .block-title {
    font-size: 1.5rem;
    padding: 0;
  }
}
