<div class="section-title">Активність: </div>
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 activity">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <span class="value">1100</span> Зареєстрованих користувачів
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 activity">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <span class="value">20</span> Пройдено тестів сьогодні
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 activity">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <span class="value">20</span> Відвідувань нашого ресурсу за сьогодні
        </div>
    </div>
</div>