<div class="section-title">Використовуючи наш ресурс ви зможете: </div>
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 feature" id="feature1">
            <div class="title text-center">Пройти тест з вибраного предмету</div>
            <div class="desc text-center">Ми маємо базу даних, котра містить близько 244 теста з 14 предметів, починаючи з 2005р. і дотепер</div>
            <div><img src="@Url.Content("~/Images/Site/1.png")" alt="" class="img-responsive"></div>
        </div>
        <div class="col-sm-12 feature" id="feature2">
            <div class="title text-center">Переглядати свою статистику</div>
            <div class="desc text-center">На нашому сайті або android-додатку ви зможете пройти близько 200-от тестів</div>
            <div><img src="@Url.Content("~/Images/Site/1.png")" alt="" class="img-responsive"></div>
        </div>
    </div>
</div>