.site-nav {
  background-color: #F8F8F8;
  height: 60px;
  overflow: hidden; }
  .site-nav button {
    height: 100%;
    border: 0;
    float: left;
    padding: 0 20px; }
    .site-nav button span {
      font-size: 2rem;
      color: white; }
  .site-nav button:hover span {
    color: orange; }
  .site-nav .logo {
    float: left;
    height: 100%;
    width: 85px;
    padding: 5px;
    overflow: hidden; }
    .site-nav .logo img {
      height: 100%; }
  .site-nav .site-name {
    width: 160px;
    float: left;
    overflow: hidden;
    height: 100%;
    position: relative;
    border-right: 1px solid #fff; }
    .site-nav .site-name span {
      position: absolute;
      height: 25%;
      display: block;
      color: #2183CD;
      font-size: 1.3rem;
      font-weight: 600; }
    .site-nav .site-name span:nth-child(1) {
      top: 5%;
      left: 0; }
    .site-nav .site-name span:nth-child(2) {
      top: 28%;
      left: 20%; }
    .site-nav .site-name span:nth-child(3) {
      top: 50%;
      left: 40%; }
    .site-nav .site-name span:nth-child(4) {
      right: 5px;
      bottom: 5px; }
  .site-nav .tagline {
    float: left;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
    color: #34495E;
    font-weight: 500;
    font-size: 1.6rem;
    border-left: 1px solid #ededed; }
  .site-nav ul {
    list-style: none;
    padding: 0;
    float: right;
    border-left: 1px solid white; }
    .site-nav ul li {
      float: left; }
      .site-nav ul li a {
        display: block;
        height: 60px;
        line-height: 60px;
        color: #34495E;
        font-weight: bold;
        padding: 0% 10px;
        border-right: 1px solid white;
        border-left: 1px solid #ededed; }

#show-menu-btn {
  background-color: #414141; }

@media only screen and (max-width: 900px) {
  .tagline {
    display: none; } }
.menu {
  width: 310px;
  height: 100%;
  background-color: #414141;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  display: none; }
  .menu div {
    margin: 0px auto;
    width: 90%;
    height: 30px;
    line-height: 30px;
    color: white;
    font-weight: bold;
    font-size: 1.6rem; }
  .menu img {
    margin: 0px auto; }
  .menu ul {
    list-style: none;
    width: 90%;
    padding: 0;
    margin: 0px auto; }
    .menu ul li {
      padding: 2.5% 0; }
    .menu ul a {
      color: white;
      font-size: 1.8rem; }
    .menu ul a:hover {
      color: #957736; }
  .menu button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    background-color: transparent; }
  .menu span {
    color: white;
    font-size: 2.8rem; }

html, body {
  height: 100%; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.4rem; }

a {
  color: black; }

a:hover, a:visited {
  text-decoration: none;
  color: black; }

.content {
  margin-top: 10px; }

.section-title {
  font-size: 2rem;
  line-height: 1;
  padding: 10px 0; }

hr {
  padding: 0;
  margin: 5px 0; }

@media only screen and (max-width: 430px) {
  .section-title {
    font-size: 1.5rem;
    padding: 0; } }

/*# sourceMappingURL=site.css.map */
