<div class="manage-btns">
    <div class="row">
        <div class="col-sm-12 start-test">
            <div class="instruction-for-user alert alert-warning">
                <p>
                    Середній результат абітурієнтів, що скаладали цей тест в 2006 році - <strong>171</strong> рейтинговий бал
                </p>

                <p>
                    Середній результат користувачів нашого ресурсу - <strong>160</strong> рейтинговий бал
                </p>
                <p>
                    Тест триватиме <strong>120 хв.</strong> (Ваш результат буде враховуватись при підрахуванні загальної статистики)
                </p>
                <p>
                    Бажаємо вам успішно здати тест !
                </p>
            </div>
            <button class="timed disabled text-center">
                Розпочати тест (з урахуванням часу)
            </button>
            <button class="no-timed disabled text-center">
                Розпочати (без врахування часу)
            </button>
        </div>
        <div class="col-sm-6 text-center end-test">
            <button>Завершити тест</button>
        </div>
        <div class="col-sm-6 text-center navigate-questions">
            <button id="prev-question" class="text-center">
                <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
            </button>
            Питання <span id="currentQuestion">1</span> з <span id="numberOfQuestions">38</span>
            <button id="next-question" class="text-center">
                <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>
