@{
    string testTitle = ViewBag.testTitle;
}

<nav class="row test-nav">
    <div class="col-sm-4 text-center"><span id="brand">@Html.ActionLink("siee.somee.com","Index","Home")</span></div>
    <div class="col-sm-4 text-center">@testTitle</div>
    <div class="col-sm-4 text-center">
        Залишилось: 00:23:14
    </div>
</nav>

