<div class="user-result">
    <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar">
        </div>
        <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar">
        </div>
    </div>
    <div class="details">
        <ul>
            <li>Правильних відповідей: <span class="number-true-answers"></span></li>
            <li>Неправильних відповідей: <span class="number-false-answers"></span></li>
            <li>Тестових балів набрано: <span id="test-mark"></span> з <span id="max-test-mark"></span></li>
        </ul>
    </div>
</div>
